@charset "utf-8";
body {
	padding-top: 70px;
}
footer {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #999;
	text-align: center;
	margin-top: 3em;
	margin-right: 0em;
	margin-bottom: 3em;
	margin-left: 0em;
	padding-top: 2em;
	padding-right: 0em;
	padding-bottom: 2em;
	padding-left: 0em;
}
